@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    background-color: antiquewhite;
    color: rgb(8, 8, 8);
}

.logo {
    display: flex;
    margin-top: 25px;
    align-items: center;

}

.logo-name {
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;


}

nav ul {
    display: flex;
    position: relative;
    left: 213px;


}

nav ul li {
    list-style: none;
    margin-left: 20px;
    margin-top: 38px;
    font-family: 'Poppins', sans-serif;

}

.youtube-tiktok {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: white;
    width: 158px;
    height: 33px;
    padding: 0 28px;
    border: 1px solid white;
    border-radius: 8px;
    position: relative;
    top: 5px;
    font-family: 'Poppins', sans-serif;
}

.youtube-tiktok img {
    height: 25px;
    width: 27px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container img {
    height: 429px;
    width: 431px;
}

.play-title {
    font-size: 30px;
}

.goat {
    color: rgb(216, 27, 115);
    font-weight: 1000;
    font-size: 3.6rem;
    font-family: 'Open Sans', sans-serif;

}

.play-info ul li {
    list-style: none;
    padding-top: 10px;
}

.btn-sign-in {
    height: 42px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(255, 67, 173);
    color: white;
    border: 1px solid white;
    border-radius: 29px;
}

.btn-rouge {
    height: 42px;
    width: 118px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(31, 165, 179);
    color: white;
    border: 1px solid white;
    border-radius: 29px;
    margin-left: 10px;
}

.btn-sign-rouge {
    margin-top: 23px;

}

.funny-videos-list {
    text-align: center;
}

.funny-part-title {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-top: 45px;
}

.funny-title-color {
    color: rgb(247, 38, 177);
}

.funny-part-description {
    font-size: 10px;
}

.video-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.video-list img {
    height: 263px;
    width: 245px;
    margin-left: 15px;

}

.play-button {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 50%;
    position: relative;
    bottom: 173px;
    left: 112px;
}

.playing-games-info {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.game-play {
    font-family: 'Poppins', sans-serif;

}

.primary-color {
    color: rgb(255, 33, 170);
}

.game-play-info {
    margin-top: 215px;
}

.fifth-img img {
    width: 500px;
    height: 526px;
}

.sixth-img {
    position: relative;
    bottom: 138px;
    right: 244px;
}

.sixth-img img {
    height: 200px;
    width: 202px;
}


.first-five-img {
    display: flex;

}

.Adventure {
    text-align: center;
}

.first-five-img {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.last-four-img {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;


}

.orange {
    display: flex;
    align-items: center;
    height: 61px;
    width: 188px;

}

.orange:hover {
    border: 1px solid rgb(224, 13, 231);
    border-radius: 24px;
    color: blueviolet;
}

footer {
    margin-top: 70px;
    height: 500px;
    background-color: rgb(22, 22, 22);
}

.logo-info {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
}

.footer-logo-name {
    color: rgb(233, 233, 233);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

.g-color {
    color: rgb(230, 69, 216);
}

.our-info ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.our-info ul li {
    list-style: none;
    color: white;
    margin-left: 50px;
}

.social-media-logo {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    align-items: center;

}

.facebook {
    margin: 0 20px;
}

.twit {
    margin: 0 20px;
}

.linkedin {
    margin: 0 20px;
}

.rules-regulation ul {
    display: flex;
    justify-content: center;


}

.rules-regulation ul li {
    list-style: none;
    margin-left: 35px;
    margin-top: 25px;
}

.rules-regulation ul li a {
    text-decoration: none;
    color: white;
}

.footer-copyright {
    text-align: center;
    color: rgb(119, 111, 111);
    margin-top: 25px;
}